# Ignore editor and IDE files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
out/

# Ignore dependency directories
node_modules/
vendor/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp
*~
*.o

# autotools temporary files
Makefile
config.log
config.status
compile
config.h
configure
aclocal.m4
Makefile.in
autom4te.cache/
stamp-h1
netperf.spec
